@font-face { 
  font-family:'Open Sans';
  src:url(fonts/OpenSans-Regular.ttf);
}
* {
  font-family:'Open Sans',sans-serif;
  font-size:12px;
}
.subtitle {
  font-size:20px;
  margin-bottom:15px;
}
.thumb {
  width:100px;
  height:100px;
  border: 4px #fff solid;
  box-shadow:0px 0px 5px #888888;
  background-size:cover;
  background-repeat:none;
  display:inline-block;
}
.fullsize {
  display:none;
}
#emma1 {
  background-image:url(../images/ev/tumblr_m6vtcnxSfH1rpxnazo1_1280.jpg);
}
#emma2 {
  background-image:url(../images/ev/tumblr_m36uuwZ9BH1rsdifjo1_500.png);
}
#emma3 {
  background-image:url(../images/ev/tumblr_m7ssoqitpM1qipp78o1_500.png);
}
#emma4 {
  background-image:url(../images/ev/emmaprof.png);
}
#emma5 {
  background-image:url(../images/ev/tumblr_m6juc0oBH91qgzq0ao1_1280.jpg);
}
#vera1 {
  background-image:url(../images/ev/tumblr_lyj2mmUiOt1qfq7h2o1_1280.png);
}
#vera2 {
  background-image:url(../images/ev/tumblr_maxu1smTZ21qftsd4o1_1280.jpg);
}
#vera3 {
  background-image:url(../images/ev/mine/tumblr_mvvlw4fxOT1qfq7h2o1_400.jpg);
}
#vera4 {
  background-image:url(../images/ev/mine/tumblr_msbrt9bWh41qfq7h2o3_400.jpg);
}
#ev1 {
  background-image:url(../images/ev/tumblr_mttkbiTb761rdp7j7o1_1280.jpg);
}
#ev2 {
  background-image:url(../images/ev/tumblr_lylb4lfYry1qfq7h2o1_400.png);
}
#ev3 {
  background-image:url(../images/ev/tumblr_mcoohimvBk1rjo0fzo1_1280.png);
}
#ev4 {
  background-image:url(../images/ev/tumblr_m7orpczQFo1rpxnazo1_500.png);
}
#ev5 {
  background-image:url(../images/ev/23.png);
}
#ev6 {
  background-image:url(../images/ev/22.png);
}
#ev7 {
  background-image:url(../images/ev/21.png);
}
#ev8 {
  background-image:url(../images/ev/20.jpg);
}
#ev9 {
  background-image:url(../images/ev/19.png);
}
#ev10 {
  background-image:url(../images/ev/18.jpg);
}
#ev11 {
  background-image:url(../images/ev/17.jpg);
}
#ev12 {
  background-image:url(../images/ev/16.png);
}
#ev13 {
  background-image:url(../images/ev/15.png);
}
#ev14 {
  background-image:url(../images/ev/14.png);
}
#ev15 {
  background-image:url(../images/ev/13.png);
}
#ev16 {
  background-image:url(../images/ev/12.png);
}
#ev17 {
  background-image:url(../images/ev/11.png);
}
#ev18 {
  background-image:url(../images/ev/10.png);
}
#ev19 {
  background-image:url(../images/ev/9.png);
}
#ev20 {
  background-image:url(../images/ev/8.png);
}
#ev21 {
  background-image:url(../images/ev/7.jpg);
}
#ev22 {
  background-image:url(../images/ev/6.png);
}
#ev23 {
  background-image:url(../images/ev/5.png);
}
#ev24 {
  background-image:url(../images/ev/4.png);
}
#ev25 {
  background-image:url(../images/ev/3.png);
}
#ev26 {
  background-image:url(../images/ev/2.png);
}
#ev27 {
  background-image:url(../images/ev/1.png);
}
#ev28 {
  background-image:url(../images/ev/mine/1.png);
}
#ev29 {
  background-image:url(../images/ev/mine/2.png);
}
#ev30 {
  background-image:url(../images/ev/mine/3.png);
}
#ev31 {
  background-image:url(../images/ev/mine/4.png);
}
#ev32 {
  background-image:url(../images/ev/tumblr_mz0briit8x1qfq7h2o4_1280.jpg)
}
#navbar {
  position:fixed;
  bottom:0;
  text-align:center;
  width:100%;
  background-color:#998585;
  height:25px;
  left:0;
  right:0;
  padding-top:10px;
  color:#eee;
  opacity:0.8;
}
a {
  color:#eee;
  text-decoration:none;
  outline:none;
}
